{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "michaelmerrill/snapflix:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    },
    {
      "ContainerPort": "3000"
    }
  ]
}
