{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "michaelmerrill/snapflix:<TAG>",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "8080"
    }
  ],
  "Volumes": [
    {
      "HostDirectory": "/var/app/current",
      "ContainerDirectory": "/usr/src/app"
    }
  ]
}
